// Screen sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;

// Colors
$white: #fff;
$dark: #000;
$text-color: #42474c;
$text-light-color: #6b7177;

$primary-dark2-color: #002e25;
$primary-dark1-Color: #004c3f;
$primary-color: #008060;
$primary-light1-color: #c1f0d0;
$primary-light2-color: #effcfa;

$secondary-color: #906509;
$secondary-light1-color: #fbf7ed;
$secondary-light2-color: #fff8f6;
$secondary-light3-color: #e2e6dc;
$secondary-light4-color: #ede8db;

$warning-color: #c43256;
$warning-light1-color: #c432571f;

// Fonts
$baseline: 14px !default;
